<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Footer</title>
</head>
<body>
<footer id="footer" th:fragment="footer">
    <div class="inner">
        <nav class="gnb_wrap">
            <ul class="gnb">
                <li>
                    <a href="#">사무소 소개</a>
                </li>
                <li>
                    <a href="#">주요업무</a>
                </li>
                <li>
                    <a href="#">출원절차</a>
                </li>
                <li>
                    <a href="#">고객센터</a>
                </li>
                <li>
                    <a href="#">찾아오시는 길</a>
                </li>
            </ul>
        </nav>
        <div class="content_wrap">
            <div class="logo">
                <a href="#"><img src="/images/logo.png" /></a>
            </div>
            <div class="policy">
                <p>
                    <span>상호명 : 상지국제특허법률사무소</span>
                    <span>대표 : 남숭호</span>
                    <span
                    >메일 :
                  <a href="#">shnam@sangjipat.com</a>
                </span>
                </p>
                <p>
                    <span>전화 : 042-482-0400</span>
                    <span>팩스 : 042-482-1810</span>
                    <span>
                  사업자등록번호 : 314-24-49117
                  <a href="#">[사업자정보확인]</a>
                </span>
                </p>
                <p>
                <span
                >주소 : (35209) 대전시 서구 둔산중로 138 주은오피스텔
                  1010호</span
                >
                </p>
                <p>Copyright ⓒ2017 상지국제특허법률사무소 All right reserved.</p>
            </div>
        </div>
    </div>
</footer>
<div class="top_btn">
    <a href="#"><span class="blind"></span></a>
</div>
</body>
</html>