<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Header</title>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="inner">
        <h1 class="logo">
            <a href="/">
                <span class="blind">상지국제특허</span>
            </a>
        </h1>
        <nav class="gnb_wrap">
            <ul class="gnb">
                <li>
                    <a href="#">사무소 소개</a>
                    <ul class="depth2">
                        <li><a href="/intro/greeting">인사말</a></li>
                        <li><a href="/intro/person">변리사 소개</a></li>
                        <li><a href="/intro/office">사무소</a></li>
                        <li><a href="/intro/location">찾아오시는 길</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">주요업무</a>
                    <ul class="depth2">
                        <li><a href="/main_business/biz_page1">특허/실용신안출원 및 등록</a></li>
                        <li><a href="/main_business/biz_page2">상표 출원 및 등록</a></li>
                        <li><a href="/main_business/biz_page3">디자인 출원 및 등록</a></li>
                        <li><a href="/main_business/biz_page4">해외특허 출원</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">출원절차</a>
                    <ul class="depth2">
                        <li><a href="/procedure/proc_page1">일반</a></li>
                        <li><a href="/procedure/proc_page2">우선심사신청</a></li>
                        <li><a href="/procedure/proc_page3">필요한 서류</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">고객센터</a>
                    <ul class="depth2">
                        <li><a href="/customers/cus_page1">공지사항</a></li>
                        <li><a href="/customers/cus_page2">보도자료</a></li>
                        <li><a href="/customers/cus_page3">자료실</a></li>
                        <li><a href="/customers/cus_page4">온라인 상담</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header_btn_wrap">
            <div class="linked">
                <a href="#">
                    <img src="/images/sns_link.svg" alt="link"/>
                </a>
            </div>
            <div class="search">
                <a href="#">
                    <img src="/images/search.svg" alt="link"/>
                </a>
            </div>
            <div class="login">
                <a th:href="${session.user != null ? '/member/user_info' : '/member/login_main'}">
                    <img src="/images/common/person.svg" alt="login"/>
                </a>
            </div>
            <div th:if="${session.user != null}" class="logout">
                <a href="#" onclick="logoutConfirm()">
                    <img src="/images/common/logout.svg" alt="logout"/>
                </a>
                <script>
                    function logoutConfirm() {
                        confirm("로그아웃 하시겠습니까?");
                        location.href = "/member/logout";
                    }
                </script>
            </div>
            <div class="lang_wrap">
                <button type="button" class="lang_btn">ENG</button>
            </div>
            <!-- <button type="button" class="sitemap_btn">
            <span class="blind">사이트맵열기</span>
            <i></i>
            <i></i>
            <i></i>
          </button> -->
            <!-- <aside class="menu_wrap">
                <div class="menu_inner">
                  <h2><span class="blind">상지국제특허</span></h2>
                  <ul class="menu">
                    <li>
                      <a href="#" class="office_intro">사무소 소개</a>
                      <ul class="depth2">
                        <li><a href="#">인사말</a></li>
                        <li><a href="#">변리사 소개</a></li>
                        <li><a href="#">사무소</a></li>
                        <li><a href="#">찾아오시는 길</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="biz_intro">주요업무</a>
                      <ul class="depth2">
                        <li><a href="#">특허/실용신안출원 및 등록</a></li>
                        <li><a href="#">상표 출원 및 등록</a></li>
                        <li><a href="#">디자인 출원 및 등록</a></li>
                        <li><a href="#">해외특허 출원</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="process_intro">출원절차</a>
                      <ul class="depth2">
                        <li><a href="#">우선심사신청</a></li>
                        <li><a href="#">필요한 서류</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="client">고객센터</a>
                      <ul class="depth2">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">보도자료</a></li>
                        <li><a href="#">자료실</a></li>
                        <li><a href="#">온라인 상담</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </aside> -->
        </div>
    </div>
</header>
</body>
</html>