<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head layout:fragment="config">
    <title>상지국제특허</title>
    <link rel="stylesheet" href="/css/admin.css"/>
</head>

<body>
<div id="wrap">
    <main id="sub_container" layout:fragment="content">
        <section class="page_top">
            <div class="main_title">
                <h1>공지사항</h1>
                <p>Home > 관리자 > 공지사항</p>
            </div>
        </section>
        <section class="page_bottom">login화면</section>
    </main>
</div>
</body>
</html>