<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head layout:fragment="config">
  <title>상지국제특허</title>
  <link rel="stylesheet" href="/css/customers.css"/>
  <script src="/js/customers.js"></script>
</head>
  <body>
    <div id="wrap">
      <main id="sub_container" layout:fragment="content">
        <section class="page_top">
          <div class="main_title">
            <h1>고객센터</h1>
            <p>Home > 고객센터 > 온라인 상담</p>
          </div>
        </section>
        <section class="page_bottom">
          <div class="sub_title">
            <h2>온라인 상담</h2>
            <h3>
              <span>상지국제특허법률사무소</span>는 언제나 고객이 최우선입니다.
            </h3>
          </div>
          <div class="sub_section">
            <h2 class="blind">서브</h2>
            <div class="inner">
              <div class="part_wrap">
                <div class="body_title">
                  <img src="/images/common/check_box.svg" />
                  <h2>작성자 정보</h2>
                </div>
                <form id="user_info" class="user_request">
                  <div class="input_wrap">
                    <div class="title">
                      <h3>작성자</h3>
                    </div>
                    <div class="input_user">
                      <input
                        type="text"
                        name="id"
                        placeholder="이름을 입력하세요"
                        required
                      />
                    </div>
                  </div>
                  <div class="input_wrap">
                    <div class="title">
                      <h3>연락처</h3>
                    </div>
                    <div class="input_user">
                      <input
                        type="text"
                        name="phone_num"
                        placeholder="연락처를 입력하세요"
                        required
                      />
                    </div>
                  </div>
                  <div class="input_wrap">
                    <div class="title">
                      <h3>이메일</h3>
                    </div>
                    <div class="input_user">
                      <input
                        type="text"
                        placeholder="이메일을 입력하세요"
                        required
                      />
                      <input
                        type="text"
                        name="email"
                        title="이메일"
                        autocomplete="off"
                        required
                      />
                      <div class="sel_option">
                        <select name="domain" title="이메일 도메인">
                          <option value="">이메일선택</option>
                          <option value="naver.com">naver.com</option>
                          <option value="gmail.com">gmail.com</option>
                          <option value="daum.net">daum.net</option>
                          <option value="hanmail.net">hanmail.net</option>
                          <option value="nate.com">nate.com</option>
                          <option value="hotmail.com">hotmail.com</option>
                          <option value="">직접입력</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="part_wrap">
                <div class="body_title">
                  <img src="/images/common/check_box.svg" />
                  <h2>문의 내용</h2>
                </div>
                <form id="user_question" class="user_request">
                  <div class="input_wrap">
                    <div class="title">
                      <h3>제목</h3>
                    </div>
                    <div class="input_request">
                      <input
                        type="text"
                        name="title"
                        placeholder="제목"
                        required
                      />
                    </div>
                  </div>
                  <div class="input_wrap">
                    <div class="title">
                      <h3>문의내용</h3>
                    </div>
                    <div class="input_request">
                        <textarea
                          name="content"
                          id="noticeEditor"
                          data-editor required
                        ></textarea>
                    </div>
                  </div>
                  <div class="input_wrap">
                    <div class="title">
                      <h3>파일첨부</h3>
                    </div>
                    <div class="input_request">
                      <input type="file" name="file" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="part_wrap">
                <div class="body_title">
                  <img src="/images/common/check_box.svg" />
                  <h2>개인정보 수집 및 동의</h2>
                </div>
                <p class="agree">
                  1. 수집하는 개인정보 내용 <br>&ensp;- 사업 및 제품관련 상담을 위해
                  아래와 같은 개인정보를 수집하고 있습니다. <br>&ensp;- 수집주체 :
                  새늘국제특허법률사무소<br>&ensp; - 수집항목 : 성명, 연락처, 이메일<br> &ensp;-
                  수집방법 : http://www.snpatent.co.kr을 통한 수집<br><br> 2. 개인정보의
                  수집 및 이용방법<br> &ensp;- 고객상담 처리<br><br> 3. 개인정보 보유 및 이용 기간
                  <br>&ensp;- 상담완료 후 즉시 파기
                </p>
                <div class="radio_wrap">
                  <label class="radio">
                      <input type="radio" id="agree1" name="agree1" value="Y" />
                      동의합니다 &ensp;&ensp;
                    </label>
                  <label class="radio">
                      <input
                        type="radio"
                        id="agree1_1"
                        name="agree1"
                        value="N"
                        checked
                      />
                      동의하지 않습니다
                  </label>
                </div>
                </div>
              <div class="btn_wrap">
                <button type="submit" class="submit">상담요청</button>
                <button type="submit" class="cancel">취소하기</button>
              </div>
            </div>
          </div>
        </section>
      </main>

    </div>
  </body>
</html>
