<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head layout:fragment="config">
  <title>상지국제특허</title>
  <link rel="stylesheet" href="/css/business.css"/>
  <script src="/js/business.js"></script>
</head>
  <body>
    <div id="wrap">
      <main id="sub_container" layout:fragment="content">
        <section class="page_top">
          <div class="main_title">
            <h1>업무분야</h1>
            <p>Home > 사무소 소개 > 산업재산권 국내외 출원</p>
          </div>
        </section>
        <section class="page_bottom">
          <div class="sub_title">
            <h2>산업재산권 국내외 출원</h2>
            <div class="quote"></div>
            <h3>
              · 특허, 실용신안, 상표, 디자인 국내출원 · 특허, 실용신안, 상표,
              디자인 해외출원 · 선행기술 조사 및 정보검색
            </h3>
          </div>
          <div class="sub_section">
            <h2 class="blind">서브</h2>
            <div class="sub_img">
              <img src="/images/sub1.jpg" />
              <img src="/images/sub2.jpg" />
              <img src="/images/sub3.jpg" />
            </div>
            <div class="inner">
              <div class="process1">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>01</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process2">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>02</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process3">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>03</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process4">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>04</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process5">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>05</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
