<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head layout:fragment="config">
  <title>상지국제특허</title>
  <link rel="stylesheet" href="/css/business.css"/>
  <script src="/js/business.js"></script>

</head>
  <body>
    <div id="wrap">
      <main id="sub_container" layout:fragment="content">
        <section class="page_top">
          <div class="main_title">
            <h1>특허발굴 및 포트폴리오 구축 컨설팅</h1>
            <p>Home > 사무소 소개 > 특허 발굴 및 포트폴리오 구축 컨설팅</p>
          </div>
        </section>
        <section class="page_bottom">
          <div class="sub_title">
            <h2>특허 발굴 및 포트폴리오 구축 컨설팅</h2>
            <div class="quote"></div>
            <h3>
              고객의 핵심기술, 노하우 발굴 및 권리화 · 경쟁사 산업재산권 조사 및
              분석 · 분쟁회피 및 대응방안 수립 · 고객의 개발전략 및 산업재산권
              포트폴리오 설계
            </h3>
          </div>
          <div class="sub_section">
            <h2 class="blind">서브</h2>
            <div class="sub_img">
              <img src="/images/sub1.jpg" />
              <img src="/images/sub2.jpg" />
              <img src="/images/sub3.jpg" />
            </div>
            <div class="inner">
              <div class="process1">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>01</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process2">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>02</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process3">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>03</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process4">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>04</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
              <div class="process5">
                <a href="#" class="wrap">
                  <div class="img_box"></div>
                  <div class="text_box">
                    <h2>05</h2>
                    <p>
                      담당변리사와 발명자와의 상담을 통한 발명의 기술내용 및
                      발명자의 희망 권리범위 파악
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
