<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head layout:fragment="config">
    <title>join</title>
    <link rel="stylesheet" href="/css/member.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="/js/member.js"></script>
    <script src="/js/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div id="wrap">
    <main id="sub_container" layout:fragment="content">
        <div class="join_wrap">
            <div class="join_main">
                <div class="join_box">
                    <h2 class="join_title">회원 가입</h2>
                    <h3 class="join_msg">회원 가입 페이지입니다.</h3>
                    <form id="join" class="user_join" action="/member/join_insert" method="post">
                        <div class="join_input">
                            <div class="input_wrap">
                                <h6>아이디</h6>
                                <div class="input">
                                    <input type="text" id="input_text_id" name="id"
                                           placeholder="아이디" required>
                                    <input id="id_check" type="button" value="중복확인">
                                    <p id="id_text">영문자, 숫자, 띄어쓰기 없이 3자 이상 입력하세요.</p>
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>비밀번호</h6>
                                <div class="input">
                                    <input type="password" id="input_pw" name="pw"
                                           placeholder="비밀번호" required>
                                    <p>영문, 숫자, 특수문자를 포함하여 8자 이상으로 작성해주세요.</p>
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>비밀번호 확인</h6>
                                <div class="input">
                                    <input type="password" id="input_pw_ch" placeholder="비밀번호확인"
                                           required>
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>이름</h6>
                                <div class="input">
                                    <input type="text" id="input_name" name="name" placeholder="이름"
                                           required>
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>E-Mail</h6>
                                <div class="input">
                                    <input type="text" id="input_email" name="email"
                                           placeholder="이메일을 입력하세요" required/>
                                    <input type="text" id="email_address" name="email_"
                                           title="이메일"
                                           autocomplete="off"
                                           required/>
                                    <div class="sel_option">
                                        <select name="domain" id="email_domain" title="이메일 도메인">
                                            <option value="">이메일선택</option>
                                            <option value="naver.com">naver.com</option>
                                            <option value="gmail.com">gmail.com</option>
                                            <option value="daum.net">daum.net</option>
                                            <option value="hanmail.net">hanmail.net</option>
                                            <option value="nate.com">nate.com</option>
                                            <option value="hotmail.com">hotmail.com</option>
                                            <option value="">직접입력</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6 class="none">전화번호</h6>
                                <div class="input">
                                    <input type="text" name="tel" placeholder="전화번호">
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>휴대폰번호</h6>
                                <div class="input">
                                    <input type="text" id="input_phone" name="phone"
                                           placeholder="휴대폰번호" required>
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>생년월일</h6>
                                <div class="input_select">
                                    <input type="text" id="datepicker" name="birth"
                                           placeholder="생년월일을 입력하세요">
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>주소</h6>
                                <div class="input address">
                                    <div>
                                        <input type="text" id="zipcode" name="zipcode"
                                               placeholder="우편번호" required>
                                        <input type="button" id="click_post" value="우편번호검색">
                                    </div>
                                    <div>
                                        <input type="text" id="address1"
                                               name="addr1" placeholder="기본주소"
                                               required>
                                        <input type="text" id="address2" name="addr2"
                                               placeholder="상세주소"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="input_wrap">
                                <h6>자동등록방지</h6>
                                <div class="input">
                                    <div class="g-recaptcha"
                                         data-sitekey="6LfqLrwqAAAAADjBNukzvP5_CJFR5O6Utt-WHi64">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn_wrap">
                            <button class="save" onclick="location.href='/member/join_result'">저장
                            </button>
                            <button class="cancel" type="submit"
                                    onclick="location.href='/member/login_main'">취소
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

</div>
</body>
</html>