<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head layout:fragment="config">
  <title>상지국제특허</title>
  <link rel="stylesheet" href="/css/intro.css"/>
  <link rel="stylesheet" href="/css/fancybox.css"/>
  <script src="/js/intro.js"></script>
  <script src="/js/fancybox.umd.js"></script>
</head>

  <body>
    <div id="wrap">
      <main id="sub_container" layout:fragment="content">
        <section class="page_top">
          <div class="main_title">
            <h1>사무소 소개</h1>
            <p>Home > 사무소 소개 > 사무소 전경</p>
          </div>
        </section>
        <section class="page_bottom">
          <div class="sub_title">
            <h2>사무소 전경</h2>
            <h3><span>상지국제특허법률사무소</span>입니다.</h3>
          </div>
          <div class="sub_section">
            <h2 class="blind">서브 슬라이더</h2>

            <div class="image_content">
              <div class="o1">
                <div class="view_box">
                  <a
                    href="/images/office/01.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o2">
                <div class="view_box">
                  <a
                    href="/images/office/02.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o3">
                <div class="view_box">
                  <a
                    href="/images/office/03.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o4">
                <div class="view_box">
                  <a
                    href="/images/office/04.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o5">
                <div class="view_box">
                  <a
                    href="/images/office/05.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o6">
                <div class="view_box">
                  <a
                    href="/images/office/06.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o7">
                <div class="view_box">
                  <a
                    href="/images/office/07.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o8">
                <div class="view_box">
                  <a
                    href="/images/office/08.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o9">
                <div class="view_box">
                  <a
                    href="/images/office/09.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o10">
                <div class="view_box">
                  <a
                    href="/images/office/10.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o11">
                <div class="view_box">
                  <a
                    href="/images/office/11.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o12">
                <div class="view_box">
                  <a
                    href="/images/office/12.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o13">
                <div class="view_box">
                  <a
                    href="/images/office/13.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o14">
                <div class="view_box">
                  <a
                    href="/images/office/14.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o15">
                <div class="view_box">
                  <a
                    href="/images/office/15.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o16">
                <div class="view_box">
                  <a
                    href="/images/office/16.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o17">
                <div class="view_box">
                  <a
                    href="/images/office/17.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
              <div class="o18">
                <div class="view_box">
                  <a
                    href="/images/office/18.jpg"
                    data-fancybox="gallery"
                    data-caption="상지국제특허법률사무소"
                  >
                    <svg>
                      <rect></rect>
                    </svg>
                    <span>보기</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
