<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head layout:fragment="config">
  <title>상지국제특허</title>
  <link rel="stylesheet" href="/css/intro.css"/>
  <script src="/js/intro.js"></script>
</head>
  <body>
    <div id="wrap">
      <main id="sub_container" layout:fragment="content">
        <section class="page_top">
          <div class="main_title">
            <h1>사무소 소개</h1>
            <p>Home > 사무소 소개 > 변리사 소개</p>
          </div>
        </section>
        <section class="page_bottom">
          <div class="sub_title">
            <h2>변리사 소개</h2>
            <div class="quote"></div>
            <h3>
              <span>상지국제특허법률사무소 남숭호 변리사</span>는 김앤장 출신의
              전문적인 지식과 대전고법영장심의위원회 위원, 대한변리사회 지정
              지식재산가치 평가전문변리사를 역임하고 있는
              <span>최고 수준의 변리사</span>입니다.
            </h3>
            <p>
              특허, 상표, 디자인 등 산업재산권은
              <span>기술적 이해와 함께 법률적 이해</span>가 반드시 수반되어야
              좋은 결과물이 나올 수 있습니다. <br /><br />힘들고 시간이 많이
              걸린다는 이유로 실무는 스텝이 하고 변리사는 실무에 깊이 관여하지
              않는 특허사무소가 넘쳐나는 것이 현실입니다. 이는 마치
              <span>비전문가에게 수술을 맡기는 것과 같이 매우 위험한 행위</span
              >입니다.<br /><br />
              <span>상지국제특허법률사무소</span>는 오랜 경험과 실력을 갖춘
              전문변리사가 고객의 특허를 든든히 지키는 나무와 같이 시간이
              걸리더라도 하나하나의 특허를 직접 또는 깊이 관여하여 업무를
              진행함으로써, 고객이 믿고 맡길 수 있는 사무소입니다.<br />
            </p>
          </div>
          <div class="sub_section">
            <h2 class="blind">서브 섹션</h2>
            <div class="image_content">
              <img src="/images/man_01.png" alt="man1" />
            </div>
            <div class="text_content" data-aos="fade-up">
              <div class="history1">
                <h2>학력 및 경력</h2>
                <dl>
                  <dt>2017.</dt>
                  <dd>상지국제특허법률 사무소</dd>
                  <dt>2011.</dt>
                  <dd>남숭호국제특허법률 사무소</dd>
                  <dt>2010.</dt>
                  <dd>KBK 특허법률 사무소</dd>
                  <dt>2009.</dt>
                  <dd>특허법인 AIP</dd>
                  <dt>2008.</dt>
                  <dd>우리특허법률 사무소</dd>
                  <dt>2005.</dt>
                  <dd>김&장법률 사무소</dd>
                  <dt>1998.</dt>
                  <dd>한국승강기안전공단</dd>
                  <dt>1998.</dt>
                  <dd>경북대학교 기계공학과 졸업</dd>
                </dl>
              </div>
              <div class="history2">
                <h2>자격</h2>
                <dl>
                  <dt>2023.</dt>
                  <dd>대한변리사회 지정 지식재산 가치평가전문변리사</dd>
                  <dt>2023.</dt>
                  <dd>대전고법 영장심의위원회 위원</dd>
                  <dt>2015.</dt>
                  <dd>기술거래사</dd>
                  <dt>2015.</dt>
                  <dd>특허심판원 판례 평석 심사위원</dd>
                  <dt>2008.</dt>
                  <dd>변리사</dd>
                  <dt>1998.</dt>
                  <dd>승강기기사 1급</dd>
                  <dt>1997.</dt>
                  <dd>건설기계기사 1급</dd>
                </dl>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
