:root {
  --point-color1: #232f3e;
  --point-color2: #717171;
  --gray-400: #d6e7d0;
  --gray-500: #003628;
  --gray-600: #000;
}

#wrap {
  position: relative;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  /* border-bottom: 1px solid #232f3e; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#header.fixed {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#header.fixed .logo a {
  background: url(../images/logo.png) no-repeat 0 0 / 100%;
}
#header.fixed .gnb > li > a {
  color: var(--point-color1);
}
#header.fixed .lang_wrap .lang_btn {
  background: #f7f7f7;
  border-color: var(--point-color1);
  color: var(--point-color1);
}
#header.fixed .lang_wrap .lang_btn::after {
  background: var(--point-color1);
}
#header.fixed .sitemap_btn {
  background: #7fd1a6;
  border-color: #7fd1a6;
}

#header .inner {
  max-width: 1440px;
  display: flex;
  height: 80px;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

#header .logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

#header .logo a {
  height: 52px;
  display: block;
  /* -webkit-mask: url(../images/logo.png) no-repeat 0 0 / 100%;; */
  background: url(../images/logo.png) no-repeat 0 0 / 100%;
  /* background: #fff; */
}

#header .gnb {
  display: flex;
}

#header .gnb > li {
  position: relative;
}

#header .gnb > li > a {
  display: block;
  line-height: 80px;
  padding: 0 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

#header .depth2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  width: 200px;
  padding: 0 7px;
  background: rgba(35, 47, 62, 0.5);
  border-radius: 12px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.1s;
  letter-spacing: -0.6px;
  white-space: nowrap;
  text-align: center;
}

#header .gnb > li:hover .depth2 {
  max-height: 200px;
  padding: 20px 0;
}

#header .depth2 > li > a {
  display: block;
  font-size: 15px;
  color: #fff;
  padding: 7px 10px;
  transition: all 0.1s;
}

#header .depth2 > li > a:hover {
  font-weight: 700;
  color: #003628;
  background: rgb(255, 255, 255, 0.5);
}

#header .header_btn_wrap {
  position: absolute;
  display: flex;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20%;
  height: 100%;
  z-index: 10;
  justify-content: space-between;
  border: 1px solid red;
}

#header .btn_wrap img {
  display: block;
  width: 32px;
  border: 1px solid red;
}

#header .btn_wrap .linked {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .btn_wrap .search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .btn_wrap .login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .btn_wrap .lang_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 100%;
}

#header .btn_wrap .lang_wrap .lang_btn {
  width: 100%;
  height: 34px;
  border: 1px solid #415751;
  color: #415751;
  border-radius: 5px;
  background: none;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
}

/* #header .btn_wrap .lang_wrap .lang {
  display: none;
}

#header .btn_wrap .lang_wrap .lang>li {
  padding: 3px 0;
}

#header .btn_wrap .lang_wrap .lang a {
  font-size: 18px;
  font-weight: 700;
} */

/* #header .btn_wrap .sitemap_btn {
  width: 25px;
  border: none;
  background: none;
}

#header .btn_wrap .sitemap_btn i {
  display: block;
  width: 25px;
  height: 3px;
  background: #003628;
  margin: 5px 0;

} */

/* #header .menu_wrap {
  position: fixed;
  right: 0;
  top: 80px;
  width: 30%;
  height: 30%;
  background: #fff;
  transition: all 0.5s;
  transform: translateX(100%);
  opacity: 0;
  display: flex;
  align-items: center;
}
#header .menu_wrap.on {
  transform: translateX(0);
  opacity: 1;
}
#header .menu_wrap .menu_inner {
  max-width: 340px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
#header .menu_wrap h2 {
  width: 115px;
  height: 52px;
  margin: 0 auto;
}
#header .menu {
  display: block;
  margin-top: 20px;
}
#header .menu > li {
  flex-grow: 1;
  padding: 0 59px;
}
#header .menu > li:first-child {
  padding-left: 0;
}
#header .menu > li:last-child {
  padding-right: 0;
}
#header .menu > li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#header .menu > li > a {
  font-size: 20px;
  color: #003628;
  font-weight: 700;
}
#header .menu .depth2 {
  margin-top: 60px;
}
#header .menu .depth2 li + li {
  margin-top: 40px;
}
#header .menu .depth2 a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
} */

.main_slider .swiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main_slider .swiper .slide_title {
  position: absolute;
  left: 50px;
  top: 250px;
  display: block;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.main_slider .swiper .slide_title h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  letter-spacing: -2px;
  position: relative;
}

.main_slider .swiper .slide_title h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30px;
  background: rgba(35, 47, 62, 0.5);
  width: 80px;
  height: 2px;
}

.main_slider .swiper .slide_title h2 {
  font-size: 40px;
  font-weight: 500;
  color: rgba(35, 47, 62, 0.5);
  margin-top: 70px;
}

.main_slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.main_slider .swiper-button-prev {*/
/*  position: absolute;*/
/*  left: 2%;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*  width: 38px;*/
/*  height: 73px;*/
/*  background: url(../images/main/arrow_prev_wh.png) no-repeat center;*/
/*  opacity: 0.5;*/
/*  display: none;*/
/*}*/

/*.main_slider .swiper-button-prev:hover {*/
/*  opacity: 1;*/
/*}*/

/*.main_slider .swiper-button-next {*/
/*  position: absolute;*/
/*  right: 2%;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*  width: 38px;*/
/*  height: 73px;*/
/*  background: url(../images/main/arrow_next_wh.png) no-repeat center;*/
/*  opacity: 0.5;*/
/*  display: none;*/
/*}*/

/*.main_slider .swiper-button-next:hover {*/
/*  opacity: 1;*/
/*}*/

.main_slider .swiper-pagination {
  width: 100%;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  text-align: center;
}

.main_slider .swiper-pagination .swiper-pagination-bullet {
  width: 45px;
  height: 5px;
  background: #fff;
  margin: 0 3px;
  opacity: 1;
  transition: all 0.5s;
  border-radius: 20px;
}

.main_slider .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--point-color1);
}

.main_business {
  width: 100%;
  padding: 100px 0;
}

.main_business .inner {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
  position: relative;
}

.main_business .profile_wrap {
  background: url(../images/bg_pt1.png);
  padding-top: 60px;
  margin-bottom: 80px;
}

.main_title h2 {
  margin: 0 auto;
  font-size: 30px;
  color: var(--gray-600);
  font-weight: 700;

  margin-bottom: 20px;
  text-align: center;
}

.main_title p {
  font-size: 16px;
  font-weight: 500;
  color: #717171;
  text-align: center;
  margin-bottom: 60px;
}

.main_business .man_profile {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background: url(../images/man_01.png) no-repeat center top;
}

.main_business .business_title {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
}

.business_content {
  display: grid;
  width: 100%;
  height: 600px;
  gap: 10px 10px;
  grid-template-areas:
    'sv1 sv1 sv2 sv3'
    'sv1 sv1 sv4 sv5';
}

.business_content .sv1 {
  grid-area: sv1;
  position: relative;
}
.business_content .sv2 {
  grid-area: sv2;
  position: relative;
}
.business_content .sv3 {
  grid-area: sv3;
  position: relative;
}
.business_content .sv4 {
  grid-area: sv4;
  position: relative;
}
.business_content .sv5 {
  grid-area: sv5;
  position: relative;
}

.main_business .business_content .sv1 {
  background: url(../images/service_01.jpg) no-repeat center / cover;
}

.main_business .business_content .sv1::after,
.sv2::after,
.sv3::after,
.sv4::after,
.sv5::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.main_business .business_content .sv1:hover::after,
.sv2:hover::after,
.sv3:hover::after,
.sv4:hover::after,
.sv5:hover::after {
  opacity: 1;
}

.main_business .business_content .sv2 {
  background: url(../images/service_02.jpg) no-repeat center / cover;
}

.main_business .business_content .sv3 {
  background: url(../images/service_03.jpg) no-repeat center / cover;
}

.main_business .business_content .sv4 {
  background: url(../images/service_04.jpg) no-repeat center / cover;
}

.main_business .business_content .sv5 {
  background: url(../images/service_05.jpg) no-repeat center / cover;
}

.main_business .business_content .sv1 h3 {
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 18px;
  color: var(--gray-500);
  font-weight: 700;
  transition: all 0.5s;
  z-index: 100;
}

.main_business .business_content .sv2 h3,
.sv3 h3,
.sv4 h3,
.sv5 h3 {
  position: absolute;
  top: 30px;
  left: 25px;
  font-size: 18px;
  color: var(--gray-500);
  font-weight: 700;
  transition: all 0.5s;
  z-index: 100;
}

.main_business .business_content .sv1:hover h3 {
  font-size: 20px;
  color: white;
  transition: all 0.5s;
}

.main_business .business_content .sv2:hover h3,
.sv3:hover h3,
.sv4:hover h3,
.sv5:hover h3 {
  font-size: 20px;
  color: white;
  transition: all 0.5s;
}

.main_business .business_content h3 > p {
  padding: 70px 0px 20px 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  transition: all 1s;
  transform: translateY(30%);
  opacity: 0;
}

.main_business .business_content .sv1:hover h3 > p {
  transition: all 1s;
  transform: translateY(-7%);
  opacity: 1;
}

.main_business .business_content .sv2:hover h3 > p,
.sv3:hover h3 > p,
.sv4:hover h3 > p,
.sv5:hover h3 > p {
  transition: all 1s;
  transform: translateY(-7%);
  opacity: 1;
}

.main_business .business_content button {
  width: 30px;
  height: 30px;
  border: none;
  opacity: 0;
  transition: all 1s;
  background: url(../images/common/arrow_white.svg) center / cover;
}

.main_business .business_content .sv1:hover button {
  opacity: 1;
  transition: all 1s;
}

.main_business .business_content .sv2:hover button,
.sv3:hover button,
.sv4:hover button,
.sv5:hover button {
  opacity: 1;
  transition: all 1s;
}

.main_business .business_content h3::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 40px;
  width: 50px;
  height: 2px;
  background: #232f3e;
}

.business_process {
  background: url(../images/bg_pt1.png);
  margin-top: 60px;
  padding: 70px 30px;
  width: 100vw;
}

.business_process .inner {
  max-width: 1440px;
  display: flex;
  gap: 25px;
}

.business_process .process_title {
  position: relative;
  display: block;
  width: 25%;
  align-items: center;
  justify-content: center;
  margin: 90px 0;
}

.business_process .process_title h2 {
  display: block;
  font-size: 30px;
  color: var(--gray-600);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: start;
}

.business_process .process_title p {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #717171;
  text-align: start;
}

.business_process .process_title::after {
  content: '';
  position: absolute;
  top: 140px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #003628;
}

.business_process .proc1,
.proc2,
.proc3 {
  width: 25%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.business_process .proc1 img,
.proc2 img,
.proc3 img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.proc1 .view_box,
.proc2 .view_box,
.proc3 .view_box {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 50;
  opacity: 0;
}

.proc1 a,
.proc2 a,
.proc3 a {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.proc1 a:hover svg rect,
.proc2 a:hover svg rect,
.proc3 a:hover svg rect {
  stroke-dashoffset: -121%;
}

.proc1 a svg,
.proc2 a svg,
.proc3 a svg {
  width: 100%;
  height: 100%;
}

.proc1 a span,
.proc2 a span,
.proc3 a span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.proc1 a svg rect,
.proc2 a svg rect,
.proc3 a svg rect {
  fill: transparent;
  stroke: #fff;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  stroke-width: 2px;
  stroke-dashoffset: 240%;
  stroke-dasharray: 338% 27;
  width: 100%;
  height: 100%;
}

.business_process .text_box {
  background: #fff;
  padding: 20px;
  margin-top: 75%;
}

.business_process .text_box h2 {
  display: block;
  letter-spacing: -2px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.business_process .text_box p {
  display: block;
  font-size: 12px;
  letter-spacing: -1px;
}

.business_process .proc1::after,
.proc2::after,
.proc3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 111px);
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.business_process .proc1:hover::after,
.proc2:hover::after,
.proc3:hover::after {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.business_process .proc1:hover .text_box::after,
.proc2:hover .text_box::after,
.proc3:hover .text_box::after {
  opacity: 1;
  transition: opacity 1s ease;
}

.business_process .proc1:hover .view_box,
.proc2:hover .view_box,
.proc3:hover .view_box {
  opacity: 1;
}

.community {
  margin-bottom: 100px;
}

.community .inner {
  max-width: 1440px;
  display: flex;
  gap: 0 20px;
  padding: 0 50px;
  margin: 0 auto;
}

.community .inner > div {
  display: block;
  width: calc(100% / 4);
  height: 257px;
  border: 1px solid rgba(0, 54, 40, 0.3);
  position: relative;
}

.community .wrap {
  display: block;
  width: 100%;
  height: 100%;
}

.commu1 .img_box {
  display: block;
  width: 100%;
  height: 50%;
  background: url(../images/comm_1.jpg) no-repeat center;
}

.commu2 .img_box {
  display: block;
  width: 100%;
  height: 50%;
  background: url(../images/comm_2.jpg) no-repeat center;
}

.commu3 .img_box {
  display: block;
  width: 100%;
  height: 50%;
  background: url(../images/comm_3.jpg) no-repeat center;
}

.commu4 .img_box {
  display: block;
  width: 100%;
  height: 50%;
  background: url(../images/comm_4.jpg) no-repeat center;
}

.community .text_box {
  display: block;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.community .text_box h2 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
}

.community .text_box p {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.community .inner > div::before,
.community .inner > div::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: rgba(0, 54, 40, 0.8);
  transition: all 0.5s;
}

.community .inner .wrap::before,
.community .inner .wrap::after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  background: rgba(0, 54, 40, 0.8);
  transition: all 0.5s;
}

.community .inner > div::before {
  height: 0%;
  width: 2px;
}

.community .inner > div::after {
  width: 0%;
  height: 2px;
}

.community .inner .wrap::before {
  height: 0%;
  width: 2px;
}

.community .inner .wrap::after {
  width: 0%;
  height: 2px;
}

.community .inner > div:hover::before {
  height: 100%;
  transition: all 0.5s;
}

.community .inner > div:hover::after {
  width: 100%;
  transition: all 0.5s;
}

.community .wrap:hover::before {
  height: 100%;
  transition: all 0.5s;
}

.community .wrap:hover::after {
  width: 100%;
  transition: all 0.5s;
}

#footer {
  width: 100%;
  background: #232f3e;
  padding: 20px 50px;
}

#footer .inner {
  max-width: 1440px;
}

#footer .gnb_wrap {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #717171;
}

#footer .gnb_wrap .gnb {
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 100%;
  color: white;
}

#footer .gnb_wrap a {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

#footer .gnb_wrap li:hover a {
  color: #7fd1a6;
}

#footer .content_wrap {
  display: flex;
  justify-content: center;
}

#footer .logo {
  width: 200px;
}

#footer .policy {
  display: block;
  line-height: 20px;
  padding-bottom: 50px;
}

#footer .policy p {
  font-weight: 400;
  word-break: keep-all;
  color: white;
}

#footer .policy a {
  font-weight: 400;
  word-break: keep-all;
  color: var(--gray-400);
}

#footer .policy p > span {
  position: relative;
  padding: 0 10px;
  display: inline-block;
}

#footer .policy p > span + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 10px;
  background: var(--gray-400);
  margin-top: -4px;
}

#footer .policy p:last-child {
  font-size: 12px;
  text-decoration: underline;
  margin-top: 20px;
  padding-left: 10px;
}

.top_btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  z-index: 9000;
}

.top_btn a {
  display: block;
  border-radius: 20px;
  height: 40px;
  background: #949494 url(../images/arrow_up.svg) 0 0 / 100%;
  margin: 50px auto 0px;
  opacity: 1;
  transition: all 0.3s;
}
.top_btn.fixed {
  opacity: 0;
}
.top_btn:hover a {
  background: #4d4c4c url(../images/arrow_up.svg) 0 0 / 100%;
}
