<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head layout:fragment="config">
  <title>상지국제특허</title>
  <link rel="stylesheet" href="/css/procedure.css"/>
</head>
  <body>
    <div id="wrap">
      <main id="sub_container">
        <section class="page_top">
          <div class="main_title">
            <h1>출원절차</h1>
            <p>Home > 출원절차 > 우선심사신청</p>
          </div>
        </section>
        <section class="page_bottom">
          <div class="sub_title">
            <h2>우선심사신청</h2>
            <div class="quote"></div>
            <h3>
              특허청에서 원칙적으로 심사청구의 순서대로 출원에 대한 심사를
              진행하게 되어 있으며, 그 기간은 보통 2년여가 걸리고 있으므로
              기술의 주기가짧은 기술, 조기 보호가 필요한 기술 등에 대하여는
              조속한 심사를 진행하기 위하여 우선심사제도를 도입하여 심사기간을
              대폭 단축하고 있습니다. 따라서 제3자가 실시중인 출원이나,
              방위산업분야, 공해방지분야, 벤쳐기업의 출원, 신기술개발지원 사업
              또는 품질인증사업 관련 출원,조약우선권주장의 기초가 되는 출원이나,
              출원인이 실시중이거나 실시 준비중인 출원에 대하여 우선심사를
              청구할 수 있도록 규정하고 있습니다.
            </h3>
          </div>
          <div class="sub_section">
            <h2 class="blind">서브</h2>
            <div class="inner">
              <div class="tab_body active">
                <div class="body_title">
                  <img src="/images/common/check_box.svg" />
                  <h2>절차의 상세한 설명</h2>
                </div>
                <div class="body_content">
                  <div class="left">
                    <h3>STEP 01</h3>
                    <h2>우선심사제도의 취지</h2>
                  </div>
                  <div class="right">
                    <p>
                      특허에 관한 심사는 심사청구 순위에 따라 행해지는 것이
                      원칙이지만, 모든 출원에 대해서 예외 없이이러한 원칙을
                      적용하면 공익이나 출원인의 권리를 적절하게 보호할 수 없는
                      측면이 있습니다.<br /><br />이에 따라, 특허청에서는 일정한
                      요건을 만족하는 출원에 대해서는 심사청구 순위와
                      관계없이다른 출원보다 먼저 심사할 수 있도록 우선심사제도를
                      운영하고 있습니다.
                    </p>
                  </div>
                </div>
                <div class="body_content">
                  <div class="left">
                    <h3>STEP 02</h3>
                    <h2>우선심사신청 요건</h2>
                  </div>
                  <div class="right">
                    <p>
                      <span>우선심사 신청인</span><br />
                      출원인은 물론 누구든지 우선심사신청을 할 수 있습니다.
                      다만, 국가 또는 지방자치단체의 직무에 관한 출원에 대해서는
                      국가 또는 지방자치단체만 우선심사 신청이 가능<br /><br />

                      <span>심사청구가 있는 출원일 것</span><br />
                      우선심사신청을 할 수 있는 출원은 심사청구가 되어 있어야
                      하며, 심사청구를 하면서 동시에 우선심사신청을 할 수도
                      있습니다. 따라서 출원과 동시에 심사청구 및 우선심사청구를
                      동시에 할 수 있습니다.<br /><br />

                      <span>청구범위에 기재된 발명이 우선심사 대상일 것 </span
                      ><br />
                      선심사를 신청한 발명은 청구범위에 기재되어 있어야 하며,
                      발명이 상세한 설명에만 기재되어 있고청구범위에 기재되어
                      있지 않은 경우에는 우선심사대상이 아닙니다. 청구범위에
                      다수의 청구항이 있고 그 청구항 중의 하나가
                      우선심사대상으로 인정되는 경우에는 출원
                      전체가우선심사대상으로 인정됩니다.<br /><br />
                    </p>
                  </div>
                </div>
                <div class="body_content">
                  <div class="left">
                    <h3>STEP 03</h3>
                    <h2>우선심사의 대상</h2>
                  </div>
                  <div class="right">
                    <p>
                      출원공개후 특허출원인이 아닌 자가 업으로서 특허출원된
                      발명을 실시하고 있다고 인정되는 경우<br />
                      방위산업분야의 특허출원<br />
                      공해방지에 유용한 특허출원<br />
                      수출촉진에 직접 관련된 특허출원<br />
                      국가 또는 지방자치단체의 직무에 관한 특허출원<br />
                      「벤처기업육성에 관한 특별조치법」 제25조의 규정에 의한
                      벤처기업의 확인을 받은 기업의 특허출원「중소기업기술혁신
                      촉진법」 제15조의 규정에 의하여 기술혁신형 중소기업으로
                      선정된 기업의특허출원<br />
                      국가의 신기술개발지원사업 또는 품질인증사업의 결과물에
                      관한 특허출원• 조약에 의한 우선권주장의 기초가 되는
                      특허출원 (당해 특허출원을 기초로 하는 우선권주장에 의하여
                      외국특허청에서 특허에 관한 절차가 진행중인 것에 한한다)<br />
                      특허출원인이 특허출원된 발명을 실시하고 있거나
                      실시준비중인 특허출원<br />
                      전자거래와 직접 관련된 특허출원
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
